<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Blog - IT Blogposts</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->
                <article id="post-1" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="java-game" />
                                                    <div class="carousel-caption">
                                                        <h4>2010 Java Video game</h4>
                                                        <p>A university project to learn Object oriented programming. Nice game built from scratch.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>BPMS in Colombia, South America</h4>
                                                        <p>I entered DevOps by being a developer for the sales team in a document management company. In the End the first BPMS as a service was delivered in Colombia.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>Cloud Computing is expensive! how about Dockerising and saving money</h4>
                                                        <p>
                                                            Thank God I was fully involved in the implementation of 100 docker-compose stacks with multiple git branches running in a single EC2 instance.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /Pictures carousel-inner -->
                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >100 docker-compose stacks in 1 EC2 instance</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> Active Quora Discussions</li>
                                            <li><i class="glyphicon glyphicon-time"></i> January 10, 2020</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Andres Leon Rangel</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> docker, AWS EC2, #webDev, #DevOps</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> DevOps the frugal way...
                                               <i class="fa fa-quote-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>	

                                <a href="#post-1" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>
                    </div>
                </article>
                <!-- End Post 1 -->

                <div class="clear"></div>

                <!-- Post 2 -->
                <article id="post-2" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-2" class="read_more">First BPMS as a Service in Colombia</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> Active forum Discussions</li>
                                            <li><i class="glyphicon glyphicon-time"></i> October 10, 2016</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Andres Leon Rangel</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> DevOps, software development, CI/CD</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> The automation of a billing process running in a private cloud. The process was offered to Abbott (company that produces Ensure health drink). An Amazing project that started me as a DevOps engineer without knowing what it truly meant! <i class="fa fa-quote-right"></i></p></div>
                                    </div>
                                </div>	

                                <a href="#post-2" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="post-3" class="blog-article">                    
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-4.jpg" class="img-hover" alt="" />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Feels like Andres married computers...</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> Active Quora Discussions</li>
                                            <li><i class="glyphicon glyphicon-time"></i> July 23, 2018</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Sweanie Larie Flores Leon</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> Inspiring, DevOps, love, curiosity, writing, thoughts, girlsTech</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> My wife gives an interesting view on DevOps. Her background is non-IT. She is a great nurse who became a children's teacher by passion.</p></div>
                                    </div>
                                </div>	

                                <a href="#post-3" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 3 -->

            </section>

            <!-- End Page Blog -->

            <!-- Page Blog - Post 1 -->
            <section id="post-1-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>First Thumbnail label</h4>
                                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>First Thumbnail label</h4>
                                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>First Thumbnail label</h4>
                                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /Pictures carousel-inner -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="title_content">
                                <div class="text_content">100 Docker-compose stacks in a single EC2 instance</div>
                                <div class="clear"></div>
                            </div>

                            <p class="caps">Jira Bitbucket Python Docker-compose and nginx reverse-proxy</p>
                            <p>Dont complicate yourself. Save money and be effective in your DevOps journey (for start-ups)</p>

                            <div class="col-md-12 first">
                                <div class="info">
                                    <div>
                                        <span class="tag">#docker</span>
                                        <span class="tag">#python</span>
                                        <span class="tag">#bitBucket</span>
                                    </div>

                                    <ul class="info-post">
                                        <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                                        <li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
                                        <li><i class="glyphicon glyphicon-user"></i> by Andres Leon Rangel</li>
                                        <li><i class="glyphicon glyphicon-tag"></i> jquery, slider, web design</li>
                                    </ul>
                                </div>

                                <div class="clear"></div>      

                                <div class="about_author">
                                    <div class="title_content" style="margin-bottom:10px">
                                        <div class="text_content">Andres Leon Rangel</div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>

                                    <div class="prg_content">
                                        <img src="http://placehold.it/100x100" width="100" height="100" alt="img">

                                        <div class="text">
                                            Since I was 6! I got into computing. I have loved it since then.
                                        </div>

                                        <div class="nb_post" style="margin-top: 10px;">
                                            <b id="nb_post"> Read my posts</b> created by Andres Leon-Rangel
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>

                                <div class="clear"></div>


                                <div class="post_comments">

                                    <div class="title_content">
                                        <div class="text_content">Blogs Migrated to Medium.com and hashnode.com</div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                    <!-- .post_comments -->
                                    <div class="clear"></div>
                                    <div class="comment_form">
                                        <form method="post" id="comment_form">
                                            <!--<input type="submit" name="submit" value="Post Comment" class="submit">-->
                                            <button class="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Extra Details Click Here</button>
                                        </form>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-top: 20px;">
                                    <a href="#post-2" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="#" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 1 -->

            <!-- Page Blog - Post 2 -->
            <section id="post-2-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>

                            <div class="title_content">
                                <div class="text_content">BPMS As a Service in Colombia (the first one) </div>
                                <div class="clear"></div>
                            </div>

                            <p class="caps">Details about the BPMS as a Service in Colombia.</p>

                            <p>Challenges and adaptation.</p>

                            <div class="col-md-12 first">
                                <div class="info">
                                    <div>
                                        <span class="tag">#BPMS</span>
                                        <span class="tag">#TIBCO</span>
                                        <span class="tag">#DevOps</span>
                                    </div>

                                    <ul class="info-post">
                                        <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                                        <li><i class="glyphicon glyphicon-time"></i> January 31, 2014</li>
                                        <li><i class="glyphicon glyphicon-user"></i> by Andres Leon Rangel</li>
                                        <li><i class="glyphicon glyphicon-tag"></i> php, web design</li>
                                    </ul>
                                </div>

                                <div class="clear"></div>      

                                <div class="about_author">
                                    <div class="title_content" style="margin-bottom:10px">
                                        <div class="text_content">Andres Leon Rangel</div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>

                                    <div class="prg_content">
                                        <img src="http://placehold.it/100x100" width="100" height="100" alt="img">

                                        <div class="text">
                                            Since I was 6! I got into computing. I have loved it since then.
                                        </div>

                                        <div class="nb_post" style="margin-top: 10px;">
                                            <b id="nb_post"> Read my posts</b> created by Andres Leon-Rangel
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>                                

                                <div class="clear"></div>      

                                <div class="post_comments">

                                    <div class="clear"></div>
                                    <div class="comment_form">
                       
                                        <div class="clear"></div>
                                    </div>
                                </div>

                                <div class="col-md-12"  style="margin-top: 20px;">
                                    <a href="#post-3" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="#post-1" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 2 -->

            <!-- Page Blog - Post 3 -->
            <section id="post-3-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <img src="images/blog/blog-2.jpg" class="img-hover" alt="">
                                    </div>

                                </div>
                            </div>

                            <div class="title_content">
                                <div class="text_content">My Wife's thoughts on her DevOps Engineer</div>
                                <div class="clear"></div>
                            </div>

                            <p class="caps">If he didn't marry me, he would have married a computer. Just kidding. Seriously, my husband loves what he is doing. He is passionate in solving problems in the computer.</p>

                            <p>The practices of DevOps beyond ICT...</p>
                            <p>I may not be well knowledgeable about his job, but when I observed him when he is working at home especially during the lock down, I saw how dedicated and fulfilled he is after a day's work is done. 
                                He would explain, demonstrate and illustrate to me what he had accomplished within that day and I just nodded and congratulate him when in reality I still didn't grasp the whole tech terms and what abouts. My husband once told me that he loves computer at a very young age and he didn't outgrew that and became a DevOps engineer. 
                                I am proud of what he has accomplished...</p>

                            <div class="col-md-12 first">
                                <div class="info">
                                    <div>
                                        <span class="tag">#DevOps</span>
                                        <span class="tag">#webDeveloper</span>
                                        <span class="tag">#Technology</span>
                                    </div>

                                    <ul class="info-post">
                                        <li><i class="glyphicon glyphicon-comment"></i> Forum below</li>
                                        <li><i class="glyphicon glyphicon-time"></i> August 15, 2020</li>
                                        <li><i class="glyphicon glyphicon-user"></i> by Sweanie Flores-Leon</li>
                                        <li><i class="glyphicon glyphicon-tag"></i> View on DevOps</li>
                                    </ul>
                                </div>

                                <div class="clear"></div>      

                                <div class="about_author">
                                    <div class="title_content" style="margin-bottom:10px">
                                        <div class="text_content">Sweanie Flores-Leon</div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>


                                    <div class="prg_content">
                                        <img src="images/img/tet-profile.png" width="100" height="100" alt="img">

                                        <div class="text">
                                            Lover of God above all, Children Educator, Nurse, Poet, Inspirational writter, 
                                             family of her best buddy... hubby!
                                        </div>

                                        <div class="nb_post" style="margin-top: 10px;">
                                            <b id="nb_post"> 1 posts</b> created by her as author
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <!-- Ends about_author div -->
                                <!-- Credits: Online forum platform https://commento.io/dashboard -->
                                <div id="commento"></div>                                

                                <div class="clear"></div>

                                <div class="col-md-12" style="margin-top: 20px;">
                                    <a href="#" class="readmore disabled" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="#post-2" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" id="blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 3 -->

        </div>

        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title h3_modal" style="color: #fff !important;">FlexyVcard - Responsive Vcard Template</h3>
                    </div>
                    <div class="modal-body">
                        <p>is an impressive and professional online vcard, a beautiful portfolio with sliding effects, resume, contact info and Google map.</p>
                        <p>source: built with FlexyVcard It’s simple! Just download and install in a few minutes, you can show your online card to your friend, customer or employer in an interview by phone or tablet. Because FlexyVcard is a responsive template, you can view your website on pc as well as handheld devices. You can also link to your social profiles, display your portfolio in many media format such as image, youtube video, flash...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Window FlexyVcard -->
    </div>
</div>
</div>
<!-- End .blog -->