<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Andres Leon Rangel Resume - CV</h1>

    <div class="row">

        <!-- .resume-right -->
        <div class="col-md-6">
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Industry Knowledge</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title"><span>Micro Services Architecture</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>

                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>SOA</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="65%">
                    <div class="skillbar-title"><span>Docker Containers</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="65%">
                    <div class="skillbar-title"><span>Sofware Engineering</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="35%">
                    <div class="skillbar-title"><span>Automation</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">35%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>Java</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title"><span>Python</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title"><span>Bash</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="30%">
                    <div class="skillbar-title"><span>PHP</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">30%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Soft Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>Persistence</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                    <div class="skillbar-title"><span>Creativity</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">TOOLS, PLATFORMS TECHNOLOGIES</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Music</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                    <div class="skillbar-title"><span>Sport</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title"><span>Reading</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Languages and hobbies Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>English</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Fluent - Bilingual</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="99%">
                    <div class="skillbar-title"><span>Español</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Native</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title"><span>Português</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">40%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title"><span>Reading</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title"><span>Scuba Diving</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Love NZ diving!</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>Travelling</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">Exploring NZ</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;"
                href="https://drive.google.com/u/0/uc?id=1-uVb0zRP9qjERMB-6eZILvNNwt-cfKOZ&export=download">
                <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Please download
                    My Resume</span>
            </a>
            <!-- /.download_resume -->

        </div>
        <!-- /.resume-right -->

        <!-- .resume-left -->
        <div class="col-md-6 resume-left">
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Work Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>DevOps Engineer <span class="duration"><i class="fa fa-calendar color"></i> 2018 - 2020</span>
                    </h5>
                    <h6><span class="fa fa-briefcase"></span> <a href="https://www.deref.nz" target="_blank">Deref New
                            Zealand</a> </h6>
                    <p>Actively involved in CI/CD for different clients. Containerise apps, deliver them via IaaC. Run
                        and monitor the clouds
                        specially AWS.
                        Automate with Python and bash. Deliver software with a mix of products Atlassian, Jenkins,
                        Spinnaker.
                    </p>
                </li>
                <li>
                    <h5>Software Process Developer <span class="duration"><i class="fa fa-calendar color"></i> 2015 -
                            2017</span></h5>
                    <h6><span class="fa fa-briefcase"></span> <a href="https://www.ironmountain.com.co"
                            target="_blank">Iron Mountain Colombia</a></h6>
                    <p>
                        In short, I released the first
                        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right"
                            title="Business Process Management System">BPMS</span>
                        as a Service for a health and nutrition client in Colombia, South America.
                    </p>
                </li>
                <li>
                    <h5>Integration Developer <span class="duration"><i class="fa fa-calendar color"></i> 2013
                            - 2015</span></h5>
                    <h6><span class="fa fa-briefcase"></span> <a href="https://www.etb.com" target="_blank">Bogota Telco
                            ETB</a> </h6>
                    <p>
                        As member of the <span class="badge badge-secondary" data-toggle="tooltip"
                            data-placement="right" title="Enterprise Service Bus">ESB</span> team I monitored
                        production, managed dev and Prod env, delivered many automated web services to ensure integrity
                        of the system.
                        I contributed an automated reporting system that encrypts reports in an SFTP.
                        <br>
                        Worked as part of 2 companies for the same client
                        <a href="https://www.wipro.com/location" target="_blank">Wipro</a> and <a
                            href="https://www.sqdm.com" target="_blank">SQDM</a>
                    </p>
                </li>
                <li>
                    <h5>Software Developer <span class="duration"><i class="fa fa-calendar color"></i> 2011 -
                            2013</span></h5>
                    <h6><span class="fa fa-briefcase"></span> <a href="http://bvc.com.co/nueva/index_en.html"
                            target="_blank">Colombian Stock Exchange</a> </h6>
                    <p>
                        <a href="https://www.sophossolutions.com/en/" target="_blank">Sopohos bankings solutions</a>
                        hired me to be full time at client location. Developer for the web portal and Integration
                        service Bus. Achieved the creation of a service to transfer data from mainframe database to the
                        transactional system DB.
                    </p>
                </li>

            </ul>
            <!-- /.attributes -->
            <br>
            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Education <a href="{{site.scholar}}">
                    <i class="fa fa-book"></i></a></div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Master Service Computing<span class="duration"><i class="fa fa-calendar color"></i>
                            2017 - 2018</span></h5>
                    <h6><span class="fa fa-book"></span> Auckland University of Technology AUT New Zealand</h6>
                    <p>MSOC masters: built on my professional experience in the information technology industry.
                        Cloud computing, service science and service-oriented computing.
                        latest trends in practice and research. Research on BPMS with IoT in the cloud.
                    </p>
                </li>
                <li>
                    <h5>Bachelor Systems Engineer<span class="duration"><i class="fa fa-calendar color"></i> 2010
                            - 2015</span></h5>
                    <h6><span class="fa fa-book"></span> Catholic University of Colombia </h6>
                    <p>A 5 year super cool degree. Thesis in learning software for children in a SOA Service Oriented
                        Architecture</p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>

            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Internships</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Internship Software Development <span class="duration"><i
                                class="fa fa-calendar color"></i> 2011</span></h5>
                    <h6><span class="fa fa-trophy"></span> <a href="https://www.infosys.com/instep/internship.html"
                            target="_blank"> Infosys Ltd, Mysore, India</a> </h6>
                    <p>One of the greatest experiences of my life up to that point.
                        I was selected to travel to India with 40 other colombian students to be trained in Infosys
                        Campus.
                        I learned and experience a software Develepment lifecycle and software engineering methodologies
                        with a real project.
                    </p>
                </li>
                <!-- .title_content -->
                <div class="title_content">
                    <div class="text_content">Certifications</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->
                <li>
                    <h5><a href="https://www.youracclaim.com/earner/earned/badge/e77b86e1-bf41-4bf5-aa3b-cbb3de2d06e0"
                            target="_blank">Certified SOA Architect</a> <span class="duration"><i
                                class="fa fa-calendar color"></i> 2019 - 2022</span></h5>
                    <h6><span class="fa fa-trophy"></span> <a
                            href="https://www.youracclaim.com/earner/earned/badge/e77b86e1-bf41-4bf5-aa3b-cbb3de2d06e0"
                            target="_blank">Arcitura Education</a></h6>
                    <p>
                        demonstrated proficiency in the mechanics of SOA through the physical design of service-oriented
                        technology architectures,
                        service-oriented solutions, and related infrastructure.
                    </p>
                </li>
                <li>
                    <h5><a href="#" target="_blank">AWS certification (In the process)</a> <span class="duration"><i
                                class="fa fa-calendar color"></i> 2020 </span></h5>
                    <h6><span class="fa fa-trophy"></span> AWS</h6>
                    <p>
                    </p>
                </li>
                <li>
                    <h5><a href="https://www.cncf.io/certification/cka/" target="_blank">Kubernetes Certification (In
                            the process)</a> <span class="duration"><i class="fa fa-calendar color"></i> 2020 </span>
                    </h5>
                    <h6>
                        <span class="fa fa-trophy"></span> 
                        <a href="https://www.cncf.io" target="_blank"> Cloud Native Foundation</a>
                    </h6>
                    <p>
                    </p>
                </li>
            </ul>
            <!-- /.attributes -->
            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Volunteering 
                    <a href="{{site.blogger}}">
                    <i class="fa fa-heart-o"></i>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li>
                    <h5><a href="www.ee.org.nz" target="_blank">Evangelism Explosion NZ</a>
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2018 - Current
                        </span>
                    </h5>
                    <p>
                        Content manager and web developer for the website.
                    </p>
                    <br>
                    <p>
                        I started Volunteering in 2014 for one school in a slum from Colombia. 
                        The experience encouraged me to proceed. 
                    </p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>
        </div>
        <!-- /.resume-left -->
    </div>

    <div style="clear: both"></div>

    <!-- client reference -->
    <div class="row">
        <div class="col-md-12">

            <div class="reference clearfix">

                <!-- .title_content -->
                <div class="title_content" style="margin-bottom:5px">
                    <div class="text_content">Recommendations</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->

                <!-- List of recommendations -->
                <ul>
                    <li class="clearfix">
                        <a href="https://www.linkedin.com/in/aleon1220/" target="_blank">
                            <img src="images/img/linkedin.png" class="img_reference" width="100" height="100" alt=""
                                </img>
                        </a>
                        <p>See all my recommendations in the Recommendations section in my LinkedIn Profile</p>

                        <a href="https://www.linkedin.com/in/aleon1220/" id="linkedin-button"
                            class="btn btn-block btn-social btn-linkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin Recommendations
                        </a>

                    </li>
                </ul>
            </div>
        </div>

        <div style="clear: both"></div>
    </div>
</div>
<!-- End .resume -->